# Loading the Spikes
This notebook shows all the different ways how you can load spikes from the recording and gives some ideas how to build analysis on the spiketrain dataframe.

In [1]:
from importlib import reload  
import panel as pn
import numpy as np
import Overview
import polars as pl
import stimulus_spikes
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import pandas as pd
import spiketrains
import stimulus_trace

In [2]:
recording = Overview.Recording.load(r"D:\Zebrafish_14_11_23\ks_sorted\overview")

The most straightforward and most explicit way to load the spikes is to use the "get_spikes_triggered" function.
```python
def get_spikes_triggered(
            self,
            stimuli,
            cells,
            time="seconds",
            waveforms=False,
            pandas=True,
            stimulus_df="stimulus_df",
            cell_df="spikes_df",
    )
```
The stimuli and cells parameter can be provided as list of lists:
Lets look at some examples to make the idea clear.

In [3]:
# Load one stimulus and one cell
recording.get_spikes_triggered([[0]], [[0]])

,cell_index,times,times_relative,trigger,repeat,times_triggered,stimulus_index
0,0,9.63615,0.04295,0,0,0.04295,0
1,0,9.64720,0.05400,0,0,0.05400,0
2,0,9.65725,0.06405,0,0,0.06405,0
3,0,9.69115,0.09795,0,0,0.09795,0
4,0,9.77335,0.18015,0,0,0.18015,0
...,...,...,...,...,...,...,...
5414,0,249.66250,240.06930,5,9,23.96535,0
5415,0,249.66310,240.06990,5,9,23.96595,0
5416,0,249.67480,240.08160,5,9,23.97765,0
5417,0,249.68985,240.09665,5,9,23.99270,0
5418,0,249.69745,240.10425,5,9,24.00030,0

In [5]:
# Load one stimulus and two cells:
recording.get_spikes_triggered([[0]], [[0, 1]])

,cell_index,times,times_relative,trigger,repeat,times_triggered,stimulus_index
0,0,9.63615,0.04295,0,0,0.04295,0
1,0,9.64720,0.05400,0,0,0.05400,0
2,0,9.65725,0.06405,0,0,0.06405,0
3,0,9.69115,0.09795,0,0,0.09795,0
4,0,9.77335,0.18015,0,0,0.18015,0
...,...,...,...,...,...,...,...
10471,1,249.47495,239.88175,5,9,23.77780,0
10472,1,249.51690,239.92370,5,9,23.81975,0
10473,1,249.55105,239.95785,5,9,23.85390,0
10474,1,249.58790,239.99470,5,9,23.89075,0
10475,1,249.69000,240.09680,5,9,23.99285,0

In [6]:
# Load two stimuli and one cell:
recording.get_spikes_triggered([[0], [1]], [[0]])

,cell_index,times,times_relative,trigger,repeat,times_triggered,stimulus_index
0,0,9.63615,0.04295,0,0,0.04295,0
1,0,9.64720,0.05400,0,0,0.05400,0
2,0,9.65725,0.06405,0,0,0.06405,0
3,0,9.69115,0.09795,0,0,0.09795,0
4,0,9.77335,0.18015,0,0,0.18015,0
...,...,...,...,...,...,...,...
8599,0,443.68820,145.25910,1,3,36.13455,1
8600,0,443.70100,145.27190,1,3,36.14735,1
8601,0,443.83465,145.40555,1,3,36.28100,1
8602,0,443.85320,145.42410,1,3,36.29955,1
8603,0,443.87170,145.44260,1,3,36.31805,1

In [9]:
# Load two stimuli and two cells:
recording.get_spikes_triggered([[0], [1]], [[0, 1], [0, 1]])

,cell_index,times,times_relative,trigger,repeat,times_triggered,stimulus_index
0,0,9.63615,0.04295,0,0,0.04295,0
1,0,9.64720,0.05400,0,0,0.05400,0
2,0,9.65725,0.06405,0,0,0.06405,0
3,0,9.69115,0.09795,0,0,0.09795,0
4,0,9.77335,0.18015,0,0,0.18015,0
...,...,...,...,...,...,...,...
16733,1,443.80685,145.37775,1,3,36.25320,1
16734,1,443.82615,145.39705,1,3,36.27250,1
16735,1,443.83985,145.41075,1,3,36.28620,1
16736,1,443.86275,145.43365,1,3,36.30910,1
16737,1,443.90905,145.47995,1,3,36.35540,1

In [10]:
# Load two stimuli and two different cells for each stimulus:
recording.get_spikes_triggered([[0], [1]], [[0], [1]])

,cell_index,times,times_relative,trigger,repeat,times_triggered,stimulus_index
0,0,9.63615,0.04295,0,0,0.04295,0
1,0,9.64720,0.05400,0,0,0.05400,0
2,0,9.65725,0.06405,0,0,0.06405,0
3,0,9.69115,0.09795,0,0,0.09795,0
4,0,9.77335,0.18015,0,0,0.18015,0
...,...,...,...,...,...,...,...
8491,1,443.80685,145.37775,1,3,36.25320,1
8492,1,443.82615,145.39705,1,3,36.27250,1
8493,1,443.83985,145.41075,1,3,36.28620,1
8494,1,443.86275,145.43365,1,3,36.30910,1
8495,1,443.90905,145.47995,1,3,36.35540,1

In [8]:
# Load two stimuli and all cells:
recording.get_spikes_triggered([[0], [1]], [["all"]])

,cell_index,times,times_relative,trigger,repeat,times_triggered,stimulus_index
0,0,9.63615,0.04295,0,0,0.04295,0
1,0,9.64720,0.05400,0,0,0.05400,0
2,0,9.65725,0.06405,0,0,0.06405,0
3,0,9.69115,0.09795,0,0,0.09795,0
4,0,9.77335,0.18015,0,0,0.18015,0
...,...,...,...,...,...,...,...
1265687,307,443.31550,144.88640,1,3,35.76185,1
1265688,307,443.74540,145.31630,1,3,36.19175,1
1265689,307,443.85550,145.42640,1,3,36.30185,1
1265690,307,443.88190,145.45280,1,3,36.32825,1
1265691,307,443.89640,145.46730,1,3,36.34275,1

In [ ]:
# Load all stimuli and all cells (not run here)
recording.get_spikes_triggered([["all"]], [["all"]])

## Load as numpy:
Spikes can be loaded directly as numpy arrays. In this case, you should only load a single stimulus at a time.

In [4]:
# Load a single cell
recording.get_spikes_as_numpy([0], [0])

(array([array([4.2950000e-02, 5.4000000e-02, 6.4050000e-02, ..., 2.4008160e+02,
               2.4009665e+02, 2.4010425e+02])                                  ],
       dtype=object),
 array([0], dtype=object))

In [5]:
# Load multiple cells
recording.get_spikes_as_numpy([0], [0, 1, 2])

(array([array([4.2950000e-02, 5.4000000e-02, 6.4050000e-02, ..., 2.4008160e+02,
               2.4009665e+02, 2.4010425e+02])                                  ,
        array([1.0045000e-01, 1.6760000e-01, 1.8080000e-01, ..., 2.3995785e+02,
               2.3999470e+02, 2.4009680e+02])                                  ,
        array([2.8550000e-02, 4.1800000e-02, 6.8900000e-02, ..., 2.3989640e+02,
               2.3995870e+02, 2.4003835e+02])                                  ],
       dtype=object),
 array([0, 1, 2], dtype=object))

# Loading using dataframes:
This is the most powerful and practical way to load the spikes and organize the data for analysis.
Lets say for example, we want to analyse one type of stimulus:

In [3]:
# Create a new datraframe by querying the standard frame 
recording.dataframes["fff_analysis"] = recording.spikes_df.query("stimulus_name=='FFF'")

Lets say we want to only consider cells with at least 20 spikes:

In [4]:
recording.dataframes["fff_analysis"] = recording.dataframes["fff_analysis"].loc[recording.dataframes["fff_analysis"]["nr_of_spikes"]>20]

Lets load the data:

In [100]:
spikes_df = recording.get_spikes_df("fff_analysis")

In [101]:
spikes_df

,cell_index,times,times_relative,trigger,repeat,times_triggered,stimulus_index
0,0,9.63615,0.04295,0,0,0.04295,0
1,0,9.64720,0.05400,0,0,0.05400,0
2,0,9.65725,0.06405,0,0,0.06405,0
3,0,9.69115,0.09795,0,0,0.09795,0
4,0,9.77335,0.18015,0,0,0.18015,0
...,...,...,...,...,...,...,...
6061723,307,22366.42405,239.80035,5,9,23.69600,25
6061724,307,22366.48010,239.85640,5,9,23.75205,25
6061725,307,22366.55590,239.93220,5,9,23.82785,25
6061726,307,22366.63890,240.01520,5,9,23.91085,25
6061727,307,22366.73190,240.10820,5,9,24.00385,25

Lets double check if it loaded the correct stimuli (just to make the point)

In [7]:
np.unique(spikes_df["stimulus_index"])

array([ 0,  5, 17, 19, 22, 25])

In [8]:
recording.stimulus_df

,stimulus_name,begin_fr,end_fr,trigger_fr_relative,trigger_int,stimulus_index,stimulus_repeat_logic,stimulus_repeat_sublogic,sampling_freq,recording,trigger_ends,nr_repeats
0,FFF,191864,4994176,"[0, 80027, 160066, 240105, 320143, 400182, 480...","[80027, 80039, 80039, 80038, 80039, 80039, 800...",0,6,2,20000.0,zebrafish_14_11_23,"[80027, 160065, 240104, 320143, 400181, 480220...",10
1,Chirp,5968582,8878569,"[0, 60231, 727502, 787739, 1455002, 1515227, 2...","[60231, 667271, 60237, 667263, 60225, 667264, ...",1,2,1,20000.0,zebrafish_14_11_23,"[60225, 727495, 787727, 1455002, 1515227, 2182...",4
2,Contrast_Steps,10504361,17707863,"[0, 80048, 160086, 240125, 320163, 400202, 480...","[80048, 80038, 80039, 80038, 80039, 80039, 800...",2,10,2,20000.0,zebrafish_14_11_23,"[80038, 160086, 240124, 320163, 400201, 480240...",9
3,Moving_Bar,22171457,32838849,"[0, 336, 682, 994, 1328, 1657, 1984, 2318, 266...","[336, 346, 312, 334, 329, 327, 334, 350, 330, ...",3,3200,1,20000.0,zebrafish_14_11_23,"[317, 640, 981, 1252, 1635, 1923, 2255, 2599, ...",9
4,BW_Noise_shuffle_4px_40mins,37565472,133563677,"[0, 997, 1997, 2996, 3997, 4995, 5995, 6996, 7...","[997, 1000, 999, 1001, 998, 1000, 1001, 1001, ...",4,24000,1,20000.0,zebrafish_14_11_23,"[663, 1660, 2659, 3655, 4660, 5658, 6657, 7655...",4
5,FFF,137207884,142010213,"[0, 80042, 160080, 240119, 320158, 400197, 480...","[80042, 80038, 80039, 80039, 80039, 80039, 800...",5,6,2,20000.0,zebrafish_14_11_23,"[80038, 160080, 240118, 320157, 400196, 480235...",10
6,Chirp610,142247162,145157153,"[0, 60237, 727506, 787745, 1455012, 1515234, 2...","[60237, 667269, 60239, 667267, 60222, 667266, ...",6,2,1,20000.0,zebrafish_14_11_23,"[60222, 727503, 787728, 1455012, 1515234, 2182...",4
7,Chirp560,146936893,149847364,"[0, 60194, 727626, 787822, 1455249, 1515431, 2...","[60194, 667432, 60196, 667427, 60182, 667426, ...",7,2,2,20000.0,zebrafish_14_11_23,"[60182, 727620, 787808, 1455249, 1515431, 2182...",4
8,Chirp530,150752489,153662938,"[0, 60197, 727624, 787805, 1455232, 1515413, 2...","[60197, 667427, 60181, 667427, 60181, 667427, ...",8,2,12,20000.0,zebrafish_14_11_23,"[60181, 727624, 787805, 1455232, 1515413, 2182...",4
9,Chirp460,154537534,157447978,"[0, 60191, 727619, 787799, 1455227, 1515408, 2...","[60191, 667428, 60180, 667428, 60181, 667427, ...",9,2,1,20000.0,zebrafish_14_11_23,"[60181, 727618, 787799, 1455227, 1515408, 2182...",4
10,Chirp413,163000893,165911342,"[0, 60196, 727624, 787805, 1455232, 1515413, 2...","[60196, 667428, 60181, 667427, 60181, 667427, ...",10,2,1,20000.0,zebrafish_14_11_23,"[60181, 727623, 787805, 1455232, 1515413, 2182...",4
11,Chirp365,166294901,169205410,"[0, 60195, 727624, 787824, 1455252, 1515452, 2...","[60195, 667429, 60200, 667428, 60200, 667428, ...",11,2,1,20000.0,zebrafish_14_11_23,"[60195, 727623, 787824, 1455252, 1515447, 2182...",4
12,Chirp,169536596,172447035,"[0, 60188, 727614, 787797, 1455223, 1515405, 2...","[60188, 667426, 60183, 667426, 60182, 667426, ...",12,2,1,20000.0,zebrafish_14_11_23,"[60182, 727614, 787796, 1455223, 1515405, 2182...",4
13,Chirp,175197314,178107284,"[0, 60239, 727505, 787728, 1454993, 1515216, 2...","[60239, 667266, 60223, 667265, 60223, 667266, ...",13,2,1,20000.0,zebrafish_14_11_23,"[60223, 727505, 787727, 1454993, 1515216, 2182...",4
14,FF_Noise,179404996,189404835,"[0, 999, 1999, 2999, 3999, 4999, 5999, 6999, 7...","[999, 1000, 1000, 1000, 1000, 1000, 1000, 1000...",14,2500,1,20000.0,zebrafish_14_11_23,"[999, 1998, 2998, 3998, 4998, 5998, 6998, 7998...",4
15,Moving_Bar,192854755,203522060,"[0, 316, 610, 992, 1323, 1656, 1990, 2321, 266...","[316, 294, 382, 331, 333, 334, 331, 348, 319, ...",15,3200,1,20000.0,zebrafish_14_11_23,"[279, 610, 875, 1269, 1632, 1969, 2296, 2617, ...",10
16,G_Noise_shuffle_4px,206255082,302253615,"[0, 992, 1991, 2991, 3990, 4990, 5990, 6989, 7...","[992, 999, 1000, 999, 1000, 1000, 999, 1002, 1...",16,24000,1,20000.0,zebrafish_14_11_23,"[663, 1655, 2635, 3655, 4653, 5653, 6634, 7653...",4
17,FFF,304545052,309267327,"[0, 80029, 160068, 240107, 320145, 400184, 480...","[80029, 80039, 80039, 80038, 80039, 80039, 800...",17,6,2,20000.0,zebrafish_14_11_23,"[80029, 160067, 240106, 320145, 400184, 480222...",9
18,B_Noise_shuffle_4px,316584609,412582195,"[0, 412, 1398, 2396, 3395, 4396, 5396, 6395, 7...","[412, 986, 998, 999, 1001, 1000, 999, 1000, 10...",18,24000,1,20000.0,zebrafish_14_11_23,"[412, 1069, 2057, 3058, 3807, 5053, 6055, 7057...",4
19,FFF,413275796,418078126,"[0, 80042, 160081, 240119, 320158, 400197, 480...","[80042, 80039, 80038, 80039, 80039, 80039, 800...",19,6,2,20000.0,zebrafish_14_11_23,"[80038, 160081, 240119, 320157, 400196, 480235...",10
20,Chirp,418335560,421245546,"[0, 60231, 727501, 787739, 1455005, 1515228, 2...","[60231, 667270, 60238, 667266, 60223, 667264, ...",20,2,1,20000.0,zebrafish_14_11_23,"[60223, 727495, 787725, 1455005, 1515228, 2182...",4
21,Chirp,421646373,424556329,"[0, 60225, 727490, 787713, 1454979, 1515202, 2...","[60225, 667265, 60223, 667266, 60223, 667264, ...",21,2,1,20000.0,zebrafish_14_11_23,"[60223, 727489, 787713, 1454979, 1515202, 2182...",4
22,FFF,425205567,430007892,"[0, 80040, 160079, 240117, 320156, 400195, 480...","[80040, 80039, 80038, 80039, 80039, 80039, 800...",22,6,2,20000.0,zebrafish_14_11_23,"[80038, 160078, 240117, 320156, 400194, 480234...",10
23,Contrast_Steps,430391185,437594675,"[0, 80042, 160080, 240118, 320157, 400196, 480...","[80042, 80038, 80038, 80039, 80039, 80038, 800...",23,10,2,20000.0,zebrafish_14_11_23,"[80038, 160080, 240118, 320156, 400195, 480234...",9
24,Chirp,438607791,441517756,"[0, 60235, 727500, 787724, 1454988, 1515212, 2...","[60235, 667265, 60224, 667264, 60224, 667264, ...",24,2,1,20000.0,zebrafish_14_11_23,"[60224, 727499, 787724, 1454988, 1515212, 2182...",4
25,FFF,442532474,447334795,"[0, 80035, 160074, 240113, 320151, 400190, 480...","[80035, 80039, 80039, 80038, 80039, 80039, 800...",25,6,2,20000.0,zebrafish_14_11_23,"[80035, 160073, 240112, 320151, 400189, 480228...",10

Looking good! </br>
Equally powerfull is to create a new stimulus dataframe. For example, lets say we are interested in what happens every 20 seconds during a stimulus presentation:

we can create a new stimulus dataframe and change the trigger arrangement:

In [3]:
recording.dataframes["fff_stimulus"] = recording.stimulus_df.query("stimulus_name=='FFF'").copy().reset_index()
recording.dataframes["fff_stimulus"]

,index,stimulus_name,begin_fr,end_fr,trigger_fr_relative,trigger_int,stimulus_index,stimulus_repeat_logic,stimulus_repeat_sublogic,sampling_freq,recording,trigger_ends,nr_repeats
0,0,FFF,191864,4994176,"[0, 80027, 160066, 240105, 320143, 400182, 480...","[80027, 80039, 80039, 80038, 80039, 80039, 800...",0,6,2,20000.0,zebrafish_14_11_23,"[80027, 160065, 240104, 320143, 400181, 480220...",10
1,5,FFF,137207884,142010213,"[0, 80042, 160080, 240119, 320158, 400197, 480...","[80042, 80038, 80039, 80039, 80039, 80039, 800...",5,6,2,20000.0,zebrafish_14_11_23,"[80038, 160080, 240118, 320157, 400196, 480235...",10
2,17,FFF,304545052,309267327,"[0, 80029, 160068, 240107, 320145, 400184, 480...","[80029, 80039, 80039, 80038, 80039, 80039, 800...",17,6,2,20000.0,zebrafish_14_11_23,"[80029, 160067, 240106, 320145, 400184, 480222...",9
3,19,FFF,413275796,418078126,"[0, 80042, 160081, 240119, 320158, 400197, 480...","[80042, 80039, 80038, 80039, 80039, 80039, 800...",19,6,2,20000.0,zebrafish_14_11_23,"[80038, 160081, 240119, 320157, 400196, 480235...",10
4,22,FFF,425205567,430007892,"[0, 80040, 160079, 240117, 320156, 400195, 480...","[80040, 80039, 80038, 80039, 80039, 80039, 800...",22,6,2,20000.0,zebrafish_14_11_23,"[80038, 160078, 240117, 320156, 400194, 480234...",10
5,25,FFF,442532474,447334795,"[0, 80035, 160074, 240113, 320151, 400190, 480...","[80035, 80039, 80039, 80038, 80039, 80039, 800...",25,6,2,20000.0,zebrafish_14_11_23,"[80035, 160073, 240112, 320151, 400189, 480228...",10

In [6]:
import stimulus_dfs
reload(stimulus_dfs)

In [96]:
stimulus_dfs.add_trigger_int(recording.dataframes["fff_stimulus"], [5], 2, 12, 1)

[5]

,index,stimulus_name,begin_fr,end_fr,trigger_fr_relative,trigger_int,stimulus_index,stimulus_repeat_logic,stimulus_repeat_sublogic,sampling_freq,recording,trigger_ends,nr_repeats
0,0,FFF,191864,4994176,"[0, 80027, 160066, 240105, 320143, 400182, 480...","[80027, 80039, 80039, 80038, 80039, 80039, 800...",0,6,2,20000.0,zebrafish_14_11_23,"[80027, 160065, 240104, 320143, 400181, 480220...",10
1,5,FFF,137207884,142010213,"[0, 80042, 160080, 240119, 320158, 400197, 480...","[80042, 80038, 80039, 80039, 80039, 80039, 800...",5,6,2,20000.0,zebrafish_14_11_23,"[80038, 160080, 240118, 320157, 400196, 480235...",10
2,17,FFF,304545052,309267327,"[0, 80029, 160068, 240107, 320145, 400184, 480...","[80029, 80039, 80039, 80038, 80039, 80039, 800...",17,6,2,20000.0,zebrafish_14_11_23,"[80029, 160067, 240106, 320145, 400184, 480222...",9
3,19,FFF,413275796,418078126,"[0, 80042, 160081, 240119, 320158, 400197, 480...","[80042, 80039, 80038, 80039, 80039, 80039, 800...",19,6,2,20000.0,zebrafish_14_11_23,"[80038, 160081, 240119, 320157, 400196, 480235...",10
4,22,FFF,425205567,430007892,"[0, 80040, 160079, 240117, 320156, 400195, 480...","[80040, 80039, 80038, 80039, 80039, 80039, 800...",22,6,2,20000.0,zebrafish_14_11_23,"[80038, 160078, 240117, 320156, 400194, 480234...",10
5,25,FFF,442532474,447334795,"[0, 40000, 80000, 120000, 160000, 200000, 2400...","[40000, 40000, 40000, 40000, 40000, 40000, 400...",25,12,1,20000.0,zebrafish_14_11_23,"[40000, 80000, 120000, 160000, 200000, 240000,...",10

In [40]:
# Add back to the dataframe:
store[0] = triggers_new
recording.dataframes["fff_stimulus"]["trigger_fr_relative"] = store
store[0] = np.diff(triggers_new)
recording.dataframes["fff_stimulus"]["trigger_int"] = store
recording.dataframes["fff_stimulus"]["stimulus_repeat_logic"] = 1
recording.dataframes["fff_stimulus"]["stimulus_repeat_sublogic"] = 2
recording.dataframes["fff_stimulus"] = stimulus_trace.find_ends(recording.dataframes["fff_stimulus"])
recording.dataframes["fff_stimulus"] = stimulus_trace.get_nr_repeats(recording.dataframes["fff_stimulus"])

In [98]:
recording.dataframes["fff_stimulus"]

,index,stimulus_name,begin_fr,end_fr,trigger_fr_relative,trigger_int,stimulus_index,stimulus_repeat_logic,stimulus_repeat_sublogic,sampling_freq,recording,trigger_ends,nr_repeats
0,0,FFF,191864,4994176,"[0, 80027, 160066, 240105, 320143, 400182, 480...","[80027, 80039, 80039, 80038, 80039, 80039, 800...",0,6,2,20000.0,zebrafish_14_11_23,"[80027, 160065, 240104, 320143, 400181, 480220...",10
1,5,FFF,137207884,142010213,"[0, 80042, 160080, 240119, 320158, 400197, 480...","[80042, 80038, 80039, 80039, 80039, 80039, 800...",5,6,2,20000.0,zebrafish_14_11_23,"[80038, 160080, 240118, 320157, 400196, 480235...",10
2,17,FFF,304545052,309267327,"[0, 80029, 160068, 240107, 320145, 400184, 480...","[80029, 80039, 80039, 80038, 80039, 80039, 800...",17,6,2,20000.0,zebrafish_14_11_23,"[80029, 160067, 240106, 320145, 400184, 480222...",9
3,19,FFF,413275796,418078126,"[0, 80042, 160081, 240119, 320158, 400197, 480...","[80042, 80039, 80038, 80039, 80039, 80039, 800...",19,6,2,20000.0,zebrafish_14_11_23,"[80038, 160081, 240119, 320157, 400196, 480235...",10
4,22,FFF,425205567,430007892,"[0, 80040, 160079, 240117, 320156, 400195, 480...","[80040, 80039, 80038, 80039, 80039, 80039, 800...",22,6,2,20000.0,zebrafish_14_11_23,"[80038, 160078, 240117, 320156, 400194, 480234...",10
5,25,FFF,442532474,447334795,"[0, 80035, 160074, 240113, 320151, 400190, 480...","[80035, 80039, 80039, 80038, 80039, 80039, 800...",25,6,2,20000.0,zebrafish_14_11_23,"[80035, 160073, 240112, 320151, 400189, 480228...",10

In [4]:
spikes_df = recording.get_spikes_df(stimulus_df="fff_stimulus")

In [5]:
spikes_df

,cell_index,times,times_relative,trigger,repeat,times_triggered,stimulus_index
0,0,21260.32235,0.04400,0,0,0.04400,22
1,0,21260.33865,0.06030,0,0,0.06030,22
2,0,21260.36225,0.08390,0,0,0.08390,22
3,0,21260.40235,0.12400,0,0,0.12400,22
4,0,21260.41245,0.13410,0,0,0.13410,22
...,...,...,...,...,...,...,...
6061723,307,20903.77465,239.98485,5,9,23.88015,19
6061724,307,20903.82930,240.03950,5,9,23.93480,19
6061725,307,20903.84610,240.05630,5,9,23.95160,19
6061726,307,20903.85675,240.06695,5,9,23.96225,19
6061727,307,20903.90255,240.11275,5,9,24.00805,19

In [7]:
np.unique(spikes_df["stimulus_index"])

array([ 0,  5, 17, 19, 22, 25])